/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2024, 3:54:21 PM
    Author     : ADMIN LAM
*/
header{
    font-family: 'Montserrat', sans-serif;
}
.icon-size i{
    font-size: 30px;
    padding-left: 20px;
}

.menu-right d-flex align-items-center i{
    width: 100px;
    height: 100px;
}





