/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 21, 2024, 2:09:06 PM
    Author     : Minhngo
*/
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    text-align: left;
}
.styled-table thead tr {
    background-color: #04AA6D;
    color: #fff;
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}
.styled-table td, .styled-table th {
    padding: 12px 15px;
}
.edit-btn {
    background-color: #009879;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-btn:hover {
    background-color: #007f67;
}
a {
    color: #009879;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
