/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 15, 2024, 3:14:06 PM
    Author     : Do Dat
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    box-shadow: 0 0 15px #0003;
    border: 1px solid #0000001a;
    border-radius: 8px;
    flex-direction: row;
    height: 93%;
    align-items: center;
    margin: auto; /* Centers the container horizontally */
}

.login-form, .image-container {
    flex: 1; /* Each takes up 50% of the container */
    box-sizing: border-box; 
}

.login-form, .image-container {
    flex-basis: 50%;
}

/* Padding and layout for the login form */
.login-form {
    padding: 3rem;
}

/* Center the title of the form */
.login-form h2 {
    margin-bottom: 1rem;
    text-align: center;
}

/* Style for form labels */
.login-form label {
    display: block;
    margin: 0.5rem 0 0.5rem;
    font-weight: 700;
}

/* Container for each password field and its toggle icon */
.password-container {
    position: relative;
    margin-bottom: 1rem; /* Add spacing between password fields */
}

/* Style for password input fields */
.password-container input[type="text"],
.password-container input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the toggle password icon */
.toggle-password {
    position: absolute;
    top: 70%;
    right: -7px; /* Adjust to fit within the input field */
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 20;
}

/* Style for toggle icons */
#toggleNewPasswordIcon, #toggleConfirmPasswordIcon {
    font-size: 18px;
    color: #000;
}

/* Font Awesome icon styles */
.fa-eye:before {
    content: "\f06e"; /* Unicode for fa-eye */
}

.fa-eye-slash:before {
    content: "\f070"; /* Unicode for fa-eye-slash */
}

/* Style for the submit button */
.login-form .btn {
    display: block;
    width: 103%;
    padding: 0.75rem;
    border: none;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.login-form .btn:hover {
    background-color: #333;
}

/* Style for login link */
.login-link {
    margin-top: 1rem;
    text-align: center;
}

.login-link a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.login-link a:hover {
    color: gray;
    text-decoration: none;
}

/*IMAGE-CONTAINER*/
.image-container .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.swiper.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.swiper-wrapper img {
    height: 890px;
}

.swiper-button-prev, .swiper-button-next {
    transform: translateY(-50%);
}

a.swiper-button-prev, a.swiper-button-next {
   color: white; 
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0);
}

.modal-content {
    background-color: #fefefe;
    margin: -50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
    .container {
        max-width: 1235px; 
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px; 
    }
    .google-login {
        margin-right: 86px;
    }
}