/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 30, 2024, 8:24:23 AM
    Author     : Admin
*/

#toastBox {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050; /* Ensures it appears above other elements */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between toasts */
}

.custom-toast {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}


.custom-toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100%{
        transform: translateX(0);
    }
}


.custom-toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background:white;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100%{
        width:0;
    }
}
